body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(255, 255, 255);
}
img {
  width: 140px;
  height: 160px;
  box-shadow: 5px black;
}
.container {
  background-color: rgb(20, 129, 129);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 3px;
  padding: 15px;
}
